<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>IPv4 Adress Visualizer</title>
		<style>
			<!--
			table.ipgrid {
				border-collapse: collapse;
			}
			table.ipgrid td, th {
				min-width: 18px;
				border: 1px solid gray;
				text-align: center;
				vertical-align: middle;
				font-family: "Courier New; Monospace";
				font-style: normal;
				font-size: 10pt;
			}
			table.ipgrid td.singlebitspos, .blue {
				font-size: 8pt;
				background-color: #80bfff;
			}
			.darker {
				background-color: #b3b3b3 !important;
			}
			.lighter {
				background-color: #f2f2f2;
			}
			.lighter-blue {
				background-color: #ccf2ff !important;
			}
			.mark {
				background-color: #ff9900 !important;
			}
			-->
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<form method="POST" action="/ip4/visualizer">
			<input type="text" name="ip" id="ip" value="{{.IP}}">
			<input type="submit" name="submit" id="submit">
		</form>

		<h1>{{.IP}}<br>{{.BloatedIP}}</h1>

		{{if .Error}}
		<div class="error">
			{{.Error}}
		</div>
		{{end}}

		<table class="ipgrid">
			<tbody>
				<tr>
				{{range .SingleOctets}}
					<td class="singleoctets lighter"><strong>{{.}}</strong></td>
				{{end}}
				</tr>
				<tr>
				{{range .SingleBits}}
				  <td class="singlebits lighter">{{.}}</td>
				{{end}}
				</tr>
				<tr>
				{{range .SingleBitsPos}}
				  <td class="singlebitspos">{{.}}</td>
				{{end}}
				</tr>
			</tbody>
		</table>

		<h3>Legend</h3>
		<table>
			<tbody>
				<tr>
					<td class="blue">&nbsp;&nbsp;</td>
					<td>position of byte</td>
				</tr>
			</tbody>
		</table>


		<script>
		$(function() {
			var pos = 0;
			$('table tbody tr td.singleoctets').each(function() {
				if ((pos == 0) || (pos == 2)) {
					makeDarker($(this));
				}
				pos++;
			});

			pos = 0;
			$('table tbody tr td.singlebits').each(function() {
				if ((pos == 0) || (pos == 2)) {
					makeDarker($(this));
				}
				pos++;
			});
		});

		function makeDarker(element) {
			element.addClass("darker").removeClass("lighter");
		}
		</script>
	</body>
</html>
