<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>IPv6 Adress Visualizer</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<style>
			<!--
			table.ipgrid {
				border-collapse: collapse;
			}
			table.ipgrid td, th {
				min-width: 18px;
				border: 1px solid gray;
				text-align: center;
				vertical-align: middle;
				font-family: "Courier New; Monospace";
				font-style: normal;
				font-size: 10pt;
			}
			table.ipgrid td.singlebitspos, .blue {
				font-size: 8pt;
				background-color: #80bfff;
			}
			.darker {
				background-color: #b3b3b3 !important;
			}
			.lighter {
				background-color: #f2f2f2;
			}
			.lighter-blue {
				background-color: #ccf2ff !important;
			}
			.mark {
				background-color: #ff9900 !important;
			}
			-->
		</style>
	</head>
	<body>
		<form method="POST" action="/ip6/visualizer">
			<input type="text" name="ip" id="ip" value="{{.IP}}">
			<input type="submit" name="submit" id="submit">
		</form>

		<input type="checkbox" id="showbits" name="showbits" checked>show bits

		<h1>{{.IP}}<br>{{.BloatedIP}}</h1>

		{{if .Error}}
		<div class="error">
			{{.Error}}
		</div>
		{{end}}

		<table class="ipgrid">
			<tbody>
				<tr>
				{{range .HexGroup}}
				  <td colspan="16" class="hexgroup lighter">{{.}}</td>
				{{end}}
				</tr>
				<tr>
				{{range .SingleOctets}}
					<td colspan="4" class="singleoctets lighter"><strong>{{.}}</strong></td>
				{{end}}
				</tr>
				<tr>
				{{range .SingleBits}}
				  <td class="singlebits lighter">{{.}}</td>
				{{end}}
				</tr>
				<tr id="bitsrow">
				{{range .SingleBitsPos}}
				  <td class="singlebitspos">{{.}}</td>
				{{end}}
				</tr>
			</tbody>
		</table>

		<h3>Legend</h3>
		<table>
			<tbody>
				<tr>
					<td class="blue">&nbsp;&nbsp;</td>
					<td>position of bit</td>
				</tr>
				<tr>
					<td class="lighter-blue">&nbsp;&nbsp;</td>
					<td>interface identifier (host part)</td>
				</tr>
				<tr>
					<td class="mark">&nbsp;&nbsp;</td>
					<td>frequently used prefixes</td>
				</tr>
			</tbody>
		</table>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script>
		$(function() {
			var pos = 0;
			$('table tbody tr td.hexgroup').each(function() {
				if ((pos == 0) || (pos == 2) || (pos == 4) || (pos == 6)) {
					makeDarker($(this));
				}
				pos++;
			});

			pos = 0;
			$('table tbody tr td.singleoctets').each(function() {
				if ((pos >= 0) && (pos <= 3)) {
					makeDarker($(this));
				}
				if ((pos >= 8) && (pos <= 11)) {
					makeDarker($(this));
				}
				if ((pos >= 16) && (pos <= 19)) {
					makeDarker($(this));
				}
				if ((pos >= 24) && (pos <= 27)) {
					makeDarker($(this));
				}
				pos++;
			});

			pos = 0;
			$('table tbody tr td.singlebits').each(function() {
				if ((pos >= 0) && (pos <= 15)) {
					makeDarker($(this));
				}
				if ((pos >= 32) && (pos <= 47)) {
					makeDarker($(this));
				}
				if ((pos >= 64) && (pos <= 79)) {
					makeDarker($(this));
				}
				if ((pos >= 96) && (pos <= 111)) {
					makeDarker($(this));
				}
				pos++;
			});

			pos = 0;
			$('table tbody tr td.singlebitspos').each(function() {
				if ((pos >= 64) && (pos <= 127)) {
					makeLighterBlue($(this));
				}
				if ((pos == 31) || (pos == 43) || (pos == 47) || (pos == 63)) {
					makeMarker($(this));
				}
				pos++;
			});


			$("#showbits").change(function() {
				if ($('#showbits').is(':checked')) {
					$('#bitsrow').show();
					$("table.ipgrid td, th ").css("min-width", "18px");
				} else {
					$('#bitsrow').hide();
					$("table.ipgrid td, th ").css("min-width", "10px");
				}
			});
		});

		function makeDarker(element) {
			element.addClass("darker").removeClass("lighter");
		}

		function makeLighterBlue(element) {
			element.addClass("lighter-blue").removeClass("lighter");
		}

		function makeMarker(element) {
			element.addClass("mark").removeClass("lighter");
		}
		</script>
	</body>
</html>
